*{
    margin:0px;
    padding:0px;
}
img{border:0px;}
a:hover{
    cursor: pointer;
}
ul,p{
    margin: 0;
    padding: 0;
}
body{
    background:  #191919;
}

#wrapper{
    width: 960px;
    margin: 0 auto;
    background: #141414;
    margin-bottom: 50px;
}
#main-layout{
    width: 930px;
    margin: 0 auto;
    padding-bottom: 50px;
}
#header{
    padding:15px 0;
    
}
#header ul{
   padding-top: 30px;
}
#header ul li{
    list-style: none;
    display: inline;
   
}
#header ul li a{
    color:#969696;
     padding: 0 10px;
     text-decoration: none;
     font-style: italic;
     font-weight: bold;
}
#header ul li:last-child a{
   color: white;
   border-bottom: 2px solid red;
}
#header ul li a:hover{
    color: white;
}
#header-img{
    padding: 20px 0;
}
.boxwin{
    width: 95%;
    margin: 0 auto;
}
.boxwin p.title,.email p.title{
    color: #cccccc;
    padding: 5px 0;
}
.boxwin p.content,.email p.content{
    color: #646464;
}
.border{
    
    border: 2px solid #202020;
   
    
}
.account-title{
    
    color: #ffffff;
    font-size: 20px;
     padding: 15px 0;
}
.account-img{
    width: 90px;
    margin: 0 auto;
}
.account-content-title{
  
    border-radius: 20px;
    background-color: #1e4cdf;
   
}
.account-content-title p{
      color: #ffffff;
      font-weight: bold;
      padding-left: 40px;
}
.account-content p.content{
    color: #ffffff;
    font-size: 12px;
    padding-top: 10px ;
    margin-bottom: 5px ;
    
}
.account-content p.link{
    
}
.logo{
   

}
.account-content>div{
    margin-bottom: 20px;
}
span.first-text{
    color: #04c0ad;
}
.email{
    width: 95%;
    margin: 0 auto;
}
.email input{
    width: 100%;
    padding: 0;
}