body{margin:0px;background-color:#141414;background-image:url(../images/head/main-bg-01.jpg);font-family:Verdana, Arial, Helvetica, sans-serif; line-height:1.2;}
a:active,a:focus { outline: none !important; -moz-outline-style: none !important; }
#topmenu{width:950px;height:13px;margin-right:auto;margin-left:auto;background:url(../images/head/chromebg.gif) center center repeat-x;padding:4px 0;}
#wrapper{height:1700px;width:950px;margin-right:auto;margin-left:auto;background-color:#141414;margin-bottom:0px;}
#head{height:60px;background-image:url(../images/head/bghead.gif);}
.logo-hengbet{height:34px;width:206px;padding-top:13px;margin-bottom:13px;padding-left:15px;float:left;}
.contacthead{
	float:right;
	width:500px;
	font-size:12px;
	text-align: right;
	padding-right:12px;
	font-family: "Courier New", Courier, monospace;
}
.contacthead a{color:#000;text-decoration:none;margin-left:5px;padding-left:7px;border-left-width:1px;border-left-style:solid;border-left-color:#B1B1B1;background-image:url(../images/head/golink.gif);background-repeat:no-repeat;background-position:right;padding-right:8px;}
.contacthead a:hover{color:#d70404;text-decoration:none;}
.contacthead{color:#000;font-weight:bold;font-style:normal;}
.contacthead b{
	color:#000;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
}
#mainmenu{float:right;height:18px;width:370px;left:196px;bottom:0;padding-top:35px;padding-left:16px;overflow:hidden;}
#mainmenu ul{margin:0;padding:0;}
#mainmenu li{display:inline;}
#mainmenu li a{text-indent:-5000px}
.menuhome{background-image:url(../images/head/home1.png);}
.menuhome:hover{background-image:url(../images/head/home2.png);}
.menuhomeactive{background-image:url(../images/head/home3.png);}
.menuhome,.menuhomeactive{background-repeat:no-repeat;height:18px;width:44px;display:block;float:left;margin-right:15px;}
.menusp{background-image:url(../images/head/sports1.png);}
.menusp:hover{background-image:url(../images/head/sports2.png);}
.menuspactive{background-image:url(../images/head/sports3.png);}
.menucn{background-image:url(../images/head/casino1.png);}
.menucn:hover{background-image:url(../images/head/casino2.png);}
.menucnactive{background-image:url(../images/head/casino3.png);}
.menusp,.menuspactive{background-repeat:no-repeat;height:18px;width:60px;display:block;float:left;margin-right:15px;}
.menucn,.menucnactive{background-repeat:no-repeat;height:18px;width:55px;display:block;float:left;margin-right:15px;}
.menudl{background-image:url(../images/head/download1.png);}
.menudl:hover{background-image:url(../images/head/download2.png);}
.menudlactive{background-image:url(../images/head/download3.png);}
.menudl,.menudlactive{background-repeat:no-repeat;height:18px;width:85px;display:block;float:left;margin-right:15px;}
.menuag{background-image:url(../images/head/agent1.png);}
.menuag:hover{background-image:url(../images/head/agent2.png);}
.menuagactive{background-image:url(../images/head/agent3.png);}
.menuag,.menuagactive{background-repeat:no-repeat;height:18px;width:48px;display:block;float:left;}
#submenu{height:13px;padding:10px 17px;}
#submenu ul{padding:0px;margin:0px;}
#submenu li{float:left;padding-right:14px;list-style-type:none;}
.linktl{font-size:13px;color:#FFFFFF;text-decoration:none;font-weight:400;}
.linktl a:link,.linktl a:visited,.linktl a:hover,.linktl a:active{color:#FFFFFF;text-decoration:none;}
.linktm{font-size:13px;color:#626262;text-decoration:none;font-weight:400;}
.linktm a:hover,li.linktm a:hover{color:#FFFFFF;text-decoration:none;font-size:13px;font-weight:400;}
.linktm a:active{color:#626262;font-size:13px;font-weight:400;text-decoration:none;}
.linktm a:link,.linktm a:visited{color:#626262;text-decoration:none;font-size:13px;font-weight:400;}
#mainbg{background-image:url(../images/home/mainbg-hengbet.jpg);background-repeat:no-repeat;height:333px;width:950px; float:left;}
#bgnews{
	background-image:url(../images/mid/bgnews.gif);
	background-repeat:repeat-x;
	height:27px;
	width:922px;
	margin:0 13px 0 15px;
	overflow: hidden;
	letter-spacing: 0.1em;
	float:left;
}
#bgnews ul{padding-top:5px;padding-right:30px;margin:0px;}
#bgnews li{
	list-style-type:none;
	padding-bottom:15px;
	text-align: center;
}
#bgnews a{
	font-size: 13px;
	font-weight: bold;
	color: #DBDBDB;
	text-decoration: none;
}
#bgnews b{
	font-size: 13px;
	font-weight: bold;
	color: #be0000;
	text-decoration: none;
}


/** left home **/
.leftcontent{
	float: left;
	height: auto;
	width: 213px;
	padding:10px 5px 10px 10px;
}
.leftcontent h4{
	margin:0;
	padding:6px 0;
	font-size: 14px;
	font-weight: lighter;
	color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
}
.leftselectgame{
	background-image: url(../images/mid/selectgames.jpg);
	background-repeat: repeat-x;
	height: 73px;
	width: 183px;
	padding-top:5px;
	padding-right:20px;
	padding-left:25px;
}
.leftselectgame select{
	margin:3px 0 0 9px;	
}
.leftsendcontact{
	background-image: url(../images/mid/contactboxs.jpg);
	background-repeat: repeat-x;
	width: 178px;
	margin-top:3px;
	padding:5px 25px 11px 25px;
	font-size: 11px;
	color: #666666;
}
.leftsendcontact p{font-size: 12px;color: #646464;padding:0;margin:0 0 7px 0;}
.leftsendcontact select{margin-bottom:8px;}
.textinput{
	margin:4px 0 4px 5px;
	height:14px;
}
.menucontact{ width:130px;}
#textinput{
	margin:3px;
	background-color: #1F1F1F;
	border: 1px solid #333333;
	color: #FFFFFF;
}
#textinput:focus{
	border: 1px solid #be0000;
}
#btsend{
	background-image: url(../images/mid/bt.gif);
	background-repeat: repeat;
	border: 1px solid #252525;
	color: #414141;
	font-weight: bold;
	font-size: 12px;
	cursor:pointer;
	letter-spacing: 0.1em;
	margin-left:-7px;
}
#btsend:hover{
	color: #be0000;
}
.leftpro{
	margin-top:3px;
	width: 228px;
}
.leftpro5per{
	background-image: url(../images/mid/pro5per.jpg);
	background-repeat: repeat-x;
	width: 178px;
	height:186px;
	margin-top:3px;
	padding:0px 25px;
}
.leftpro10per{
	background-image: url(../images/mid/pro10per.jpg);
	background-repeat: repeat-x;
	width: 178px;
	height:158px;
	margin-top:3px;
	padding:0px 25px;
}


/** right home **/
.rightcontent{
	float: right;
	height: auto;
	width: 705px;
	padding:10px 0 0 0;
}
.contentbox1{width:334px;height:208px;float:left;background-image:url(../images/mid/boxtwohome.jpg);background-repeat: no-repeat;padding:3px 5px 7px 5px;}
.contentbox2{width:334px;height:208px;float:left;background-image:url(../images/mid/boxtwohome.jpg);background-repeat: no-repeat;padding:3px 5px 7px 5px;margin-left:7px;}
.contentbox1 h3,.contentbox2 h3{
	font-size: 14px;
	font-weight: normal;
	color: #CCCCCC;
	margin:10px 10px 5px 10px;
	padding:0;
}
.contentbox1 a,.contentbox2 a{
	color: #CCCCCC;
	text-decoration: none;
}
.contentbox1 a:hover,.contentbox2 a:hover{
	color: #CCCCCC;
	text-decoration:underline;
}
.contentbox1 p,.contentbox2 p{
	font-size: 12px;
	color: #646464;
	margin:1px 10px 0px 10px;
	padding:0;
}

/* home boxes -> box 1 */
.slideshow{
	clear: both;
	width:705px;
	height:143px;	
}
.carousel{position:absolute;height:143px;width:693px;background-image: url(../images/mid/bgslidehome.jpg);background-repeat:no-repeat;float:right;padding:0 12px 0 0;margin:3px 0 0 0;}
.caroufredsel_wrapper { margin:3px 40px; }
#image-carousel { position:absolute; width: 390px; top:0; left:0; height:75px !important; }
#image-carousel a { float: left; display:block; height:133px; text-decoration:none; width:612px; z-index: 100; }
#image-carousel a img { width:250px; height:133px; float:left; }
#image-carousel a h3 { font-size:13px;color:#FFF; padding:15px 0px 4px 0px;line-height:0px;}
#image-carousel a p {  font-size:12px; font-weight:lighter; color:#646464; display:block; }
.web-prev,
.web-next { display:block; width:15px; height:20px; position:absolute; top:58px; text-decoration:none; text-indent:10000px; overflow:hidden; color:#FFF; }
.web-prev { background:url(../images/home/home_box1_arrowSX.png) no-repeat 0 0; left:15px; }
.web-next { background:url(../images/home/home_box1_arrowDX.png) no-repeat 0 0; right:25px; }

.boxpresent{
	float:left;
	background-image: url(../images/mid/bgpresent.jpg);
	height: 620px;
	width: 408px;
	background-repeat: no-repeat;
	margin:6px 0 0 0;
	padding:0px 16px;
}
.boxpresent h3{
	font-size: 17px;
	color: #CCCCCC;
	padding:20px 10px;
	margin:0px;
	font-weight: lighter;
}
.boxpresent p{
	font-size: 12px;
	font-weight:lighter;
	color:#646464;
	padding:0 5px 10px 5px;
}
.boxnews{
	float:right;
	background-image: url(../images/mid/bgnews.jpg);
	height: 620px;
	width: 218px;
	background-repeat: no-repeat;
	margin:6px 10px 3px 0;
	padding:0px 15px;
}
.boxnews h3{
	font-size: 17px;
	color: #CCCCCC;
	padding:20px 0px;
	margin:0px;
	font-weight: lighter;
}
.boxnews strong{
	padding:0px;
	margin:0px;
}
.boxnews strong a{
	font-size: 13px;
	color: #CCCCCC;
	font-weight: lighter;
	text-decoration: none;
}
.boxnews strong a:hover{
	text-decoration:underline;
}
.boxnews p{
	font-size: 12px;
	font-weight:lighter;
	color:#646464;
	padding:0px;
	margin:2px 0 15px 0;
}
.boxnews em{
	font-size: 10px;
	font-weight:lighter;
	color:#333333;
	float: right;
	padding-top:2px;
}
.linkgoto{
	background-image: url(../images/mid/iconlink.gif);
	background-repeat: no-repeat;
	background-position: right;;
	padding-right:12px;
	color: #CCCCCC;
	text-decoration: none;
	font-size:14px;
	float:right;
}
.linkgoto:hover{
	text-decoration:underline;
}
.callcenter-home{
	background-image: url(../images/home/callcenter-home.jpg);
	background-repeat: no-repeat;
	height: 109px;
	width: 695px;
	clear: both;
}