html, body{
  overflow:hidden;
  height:100%;
} 

#loading-mask{
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	position:absolute;
	z-index:20000;
	background-color: #141414;
	background-image: url(../images/head/main-bg-01.jpg);
}

#loading{
	position:absolute;
	left:45%;
	top:40%;
	border:1px solid #000000;
	padding:2px;
	width:150px;
	text-align:center;
	z-index:20001;
	background-color: #141414;
}

#loading .loading-indicator{
	border:1px solid #000000;
	color:#CCCCCC;
	padding:5px 15px;
	margin:0;
	text-align:left;
	background-color: #232323;
	background-image: url(../images/mid/bt.gif);
	background-repeat: repeat-x;
	font-family: tahoma, arial, helvetica;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.2em;
}